/*  madlibs7.css - provides the styling specific to the Madlibs web pages;    */

/***************************************************************************************
**   Top of webpage (instructions) -- formatting
***************************************************************************************/
body.body { height: 1000px; background-color: #111;} 
body { 
   background-color: #111;
}

#content_page {                 /* id = "content_page" is for the body of the web page */
	font-family: Helvetica, Arial, sans-serif;   /* fonts for body of web page */
    font-size: 87.5%;
    margin: 0 auto;
    border: 2px solid black;                /* border for web page body */
    margin-top: 1rem; 
	background-color88: #f6f6f6;                   /* light gray */
	background-color: #999; 
   padding-bottom: 2rem;
   border-radius: 0.4rem; 
}

section p {                                /* p elements within main section */
	padding-bottom: .5em;   }
	
h1.web_title {
	font-size: 140%; 
   margin-top: 1.5rem;
}

/***************************************************************************************
**   Main Content -- formatting
***************************************************************************************/		
	
#letter_results {            /*  Styles specific to the Letter Simulator php page */
	 border: 1px solid #333;             
	 font-size: 120%;  
	 font-weight: normal; 
	 padding: 5px 30px;	 
	 border-radius: 0.4rem;
	 background: #efefef; 
    height88: 38rem; 
    height88: 80%;
    height: 60vh;
}
	
#letter_results .entry00 {   
	 font-size: 100%; 
	 color: mediumblue;  
	 font-weight: bold; }
	 

[class*="col-"] {
    padding: 0rem;
}

div.letter_text {
  position: absolute; 
   margin: 2.3rem 3.3rem; 
}

/***************************************************************************************
**   #buttons are the buttons in the form (user-entered data) -- formatting
***************************************************************************************/	
#buttons {

}

#buttons input {    /* alignment for text boxes and dropdown boxes */
    margin-left: 5rem;
    margin-bottom: 0.5em;
	margin-top: 1em; 
	border: 2px solid #333;
	border-radius: 0.3em; 
	width: 10em; 
}

#randombutton { 
   display: inline; 
	float: left; 
	clear: both;	
}

#homelink {
   display: inline;  
   margin-left: 5rem; 
   float: right; 
   margin-top: 1rem;
}



/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

@media (min-width: 1px) { 
   #letter_results { background-color: aqua; }
   div.letter_text {
      margin: 1rem 1rem; 
   }
   #letter_results {            /*  Styles specific to the Letter Simulator php page */
      padding: 5px 15px;	 
      height88: 80vh;
      height: 47rem;
  }
}

/* Small (sm) devices (landscape phones, 576px and up)  */
@media (min-width: 576px) { 
   #content_page { width: 100%; }
   .container { max-width: 100%; }
   
   #letter_results { background-color: blue; }
   div.letter_text {
      margin: 1rem 1rem; 
      position: relative; 
   }
   #letter_results {            /*  Styles specific to the Letter Simulator php page */
      padding: 5px 15px;	 
      height88: 70vh;
      height87: 41rem;
      height: auto; 
      font-size: 1.4rem;
  }
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   #content_page { width: 100%; }
   .container { max-width: 100%; }
   #letter_results88 { background-color: red; }
   #letter_results {background: #efefef; }
   div.letter_text {
      margin: 1rem 1rem; 
      position: relative; 
   }

   #letter_results {            /*  Styles specific to the Letter Simulator php page */
      padding: 5px 10px;	 
      height88: 66vh;
      height87: 39rem;
      height: auto;
      font-size: 1.4rem; 
  }
 }

/* Large (lg) devices (desktops, 992px and up)  */
@media (min-width: 992px) { 
   #letter_results { background-color: green; }
   div.letter_text {
      margin: 1.2rem 2.0rem; 
   }
   #letter_results {            /*  Styles specific to the Letter Simulator php page */
      padding: 5px 20px;	 
      height88: 61vh;
      height: 34rem;
   }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   #letter_results { background-color: yellow; }
   div.letter_text {
      margin: 2.3rem 3.3rem; 
   }
   #letter_results {            /*  Styles specific to the Letter Simulator php page */
      padding: 5px 20px;	 
      height88: 55vh;
      height: 33rem;
   }
}


	
	